USE [master]
GO
/****** Object:  Database [LIGABBDD]    Script Date: 23/03/2023 18:09:52 ******/
CREATE DATABASE [LIGABBDD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'LIGABBDD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARRLLO\MSSQL\DATA\LIGABBDD.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'LIGABBDD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.DESARRLLO\MSSQL\DATA\LIGABBDD_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [LIGABBDD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [LIGABBDD]
GO
/****** Object:  Table [dbo].[Equipo]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Equipo](
	[IdEquipo] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Jugador1] [int] NOT NULL,
	[Jugador2] [int] NOT NULL,
	[Jugador3] [int] NOT NULL,
	[ConfirmJug2] [int] NOT NULL,
	[ConfirmJug3] [int] NOT NULL,
	[GANADOS] [int] NULL,
	[PERDIDOS] [int] NULL,
	[EMPATES] [int] NULL,
 CONSTRAINT [PK_Equipo] PRIMARY KEY CLUSTERED 
(
	[IdEquipo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EquipoLiga]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EquipoLiga](
	[Id] [int] NOT NULL,
	[IdLiga] [int] NOT NULL,
	[IdEquipo] [int] NOT NULL,
	[Victorias] [int] NOT NULL,
	[Derrotas] [int] NOT NULL,
	[EMPATES] [int] NULL,
	[Inscrito] [int] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Liga]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Liga](
	[IdLiga] [int] NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[FechaInicio] [datetime] NULL,
	[FechaFin] [datetime] NULL,
	[Estado] [int] NOT NULL,
 CONSTRAINT [PK_Liga] PRIMARY KEY CLUSTERED 
(
	[IdLiga] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Partida]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Partida](
	[IdPartida] [int] NOT NULL,
	[IdLiga] [int] NOT NULL,
	[IdEquipo1] [int] NOT NULL,
	[IdEquipo2] [int] NOT NULL,
	[Administrador] [int] NOT NULL,
	[CodigoPartida] [nvarchar](50) NOT NULL,
	[Ganador] [int] NOT NULL,
	[InicioPartida] [datetime] NOT NULL,
	[Estado] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Partida] PRIMARY KEY CLUSTERED 
(
	[IdPartida] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[IdUsuario] [int] NOT NULL,
	[UsuarioTag] [nvarchar](50) NOT NULL,
	[Contrasenia] [nvarchar](50) NOT NULL,
	[Nombre] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Usuario] PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Usuario] ([IdUsuario], [UsuarioTag], [Contrasenia], [Nombre], [Email]) VALUES (1, N'jc', N'jc', N'jc', N'jc@gmail.com')
INSERT [dbo].[Usuario] ([IdUsuario], [UsuarioTag], [Contrasenia], [Nombre], [Email]) VALUES (2, N'jc1', N'jc1', N'jc1', N'jc1@gmail.com')
INSERT [dbo].[Usuario] ([IdUsuario], [UsuarioTag], [Contrasenia], [Nombre], [Email]) VALUES (3, N'@jc2', N'jc2', N'jc2', N'jc2@gmail.com')
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_Usuario1] FOREIGN KEY([Jugador1])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Equipo] CHECK CONSTRAINT [FK_Equipo_Usuario1]
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_Usuario2] FOREIGN KEY([Jugador2])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Equipo] CHECK CONSTRAINT [FK_Equipo_Usuario2]
GO
ALTER TABLE [dbo].[Equipo]  WITH CHECK ADD  CONSTRAINT [FK_Equipo_Usuario3] FOREIGN KEY([Jugador3])
REFERENCES [dbo].[Usuario] ([IdUsuario])
GO
ALTER TABLE [dbo].[Equipo] CHECK CONSTRAINT [FK_Equipo_Usuario3]
GO
ALTER TABLE [dbo].[EquipoLiga]  WITH CHECK ADD  CONSTRAINT [FK_EquipoLiga_Equipo] FOREIGN KEY([IdEquipo])
REFERENCES [dbo].[Equipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[EquipoLiga] CHECK CONSTRAINT [FK_EquipoLiga_Equipo]
GO
ALTER TABLE [dbo].[EquipoLiga]  WITH CHECK ADD  CONSTRAINT [FK_EquipoLiga_Liga] FOREIGN KEY([IdLiga])
REFERENCES [dbo].[Liga] ([IdLiga])
GO
ALTER TABLE [dbo].[EquipoLiga] CHECK CONSTRAINT [FK_EquipoLiga_Liga]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Equipo] FOREIGN KEY([IdEquipo1])
REFERENCES [dbo].[Equipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Equipo]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Equipo2] FOREIGN KEY([IdEquipo2])
REFERENCES [dbo].[Equipo] ([IdEquipo])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Equipo2]
GO
ALTER TABLE [dbo].[Partida]  WITH CHECK ADD  CONSTRAINT [FK_Partida_Liga] FOREIGN KEY([IdLiga])
REFERENCES [dbo].[Liga] ([IdLiga])
GO
ALTER TABLE [dbo].[Partida] CHECK CONSTRAINT [FK_Partida_Liga]
GO
/****** Object:  StoredProcedure [dbo].[BUSCARUSUARIOTAG_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[BUSCARUSUARIOTAG_SP](@UsuarioTag NVARCHAR(50))
AS
    SELECT * FROM Usuario WHERE UsuarioTag = @UsuarioTag
GO
/****** Object:  StoredProcedure [dbo].[COMPROBAREMAIL_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[COMPROBAREMAIL_SP](@Email NVARCHAR(50))
AS
    SELECT * FROM Usuario WHERE Email = @Email
GO
/****** Object:  StoredProcedure [dbo].[DELETEEQUIPO_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DELETEEQUIPO_SP](@IDEQUIPO INT)
AS
    DELETE FROM Equipo WHERE IdEquipo = @IDEQUIPO
GO
/****** Object:  StoredProcedure [dbo].[DETALLESUSUARIO_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[DETALLESUSUARIO_SP](@IdUsuario INT)
AS
    SELECT * FROM Usuario WHERE IdUsuario = @IdUsuario
GO
/****** Object:  StoredProcedure [dbo].[EQUIPOSUSER_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[EQUIPOSUSER_SP](@IDJUGADOR INT)
AS
    SELECT * FROM Equipo WHERE Jugador1 = @IDJUGADOR OR Jugador2 = @IDJUGADOR OR Jugador3 = @IDJUGADOR
GO
/****** Object:  StoredProcedure [dbo].[INSERTAREQUIPO_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERTAREQUIPO_SP](@Nombre nvarchar(50), @Jugador1 int, @Jugador2 int, @Jugador3 int)
AS
 INSERT INTO EQUIPO VALUES((SELECT ISNULL(MAX(IdEquipo),0) FROM Equipo)+1, @Nombre, @Jugador1, @Jugador2, @Jugador3, -1, -1, 0, 0, 0)
GO
/****** Object:  StoredProcedure [dbo].[INSERTARUSUARIO_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[INSERTARUSUARIO_SP](@UsuarioTag NVARCHAR(50), @Contrasenia NVARCHAR(50), @Nombre NVARCHAR(50), @Email NVARCHAR(50))
AS
    INSERT INTO USUARIO VALUES ((SELECT ISNULL(MAX(IdUsuario),0) FROM USUARIO)+1, @UsuarioTag, @Contrasenia, @Nombre, @Email)
GO
/****** Object:  StoredProcedure [dbo].[LOGIN_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[LOGIN_SP](@Email NVARCHAR(50), @Contrasenia NVARCHAR(50))
AS
    SELECT * FROM Usuario WHERE Email = @Email AND Contrasenia = @Contrasenia
GO
/****** Object:  StoredProcedure [dbo].[SELECTEQUIPOID_SP]    Script Date: 23/03/2023 18:09:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[SELECTEQUIPOID_SP](@IDEQUIPO INT)
AS
    SELECT * FROM Equipo WHERE IdEquipo = @IDEQUIPO
GO
USE [master]
GO
