<div class="wrapper">
    <h1 class="tituloinicio">Mis equipos</h1>
    <hr style="width:50%;margin:auto;color:black; border-top:2px solid" />
    <div id="divequipos" class="botonera">

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <div id="invitacionesligas">
            <div>
                <h2>Buscador de ligas</h2>
            </div>
            <div class="divtabla">
                <div class="buscador">
                    <input type="text" class="inputLiga"/>
                    <button type="button" class="btn btnReg btnLiga">Buscar Liga</button>
                </div>
                <h2>Ligas</h2>
                <div class="tablascroll2">
                    <table class="table">
                        <tr class="thead">
                            <th>Nombre</th>
                            <th>Activo</th>
                            <th>deta</th>
                        </tr>
                        <tbody class="tbody">
                            <tr class="thead trMenuLigas">
                                <td>Nombre</td>
                                <td>Activo</td>
                                <td>
                                    <button type="button" class="btn btnReg btnLiga" data-bs-toggle="modal" data-bs-target="#myModal">
                                        Open modal
                                    </button>
                                </td>
                            </tr>     
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="modal fade" id="myModal">
                <div class="modal-dialog modal-xl">
                    <div class="modal-content modalBody">
                        <form method="post">
                        <input type="hidden" name="accion" value="iniciarLiga"/>
                        <!-- Modal Header -->
                        <div class="modal-header">
                            <h4 class="modal-title">Nombre de la Liga</h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>

                        <!-- Modal body -->
                        <div class="modal-body">
                            <div class="elmodal">
                                <h5>Equipos solicitantres</h5>
                                <table class="table">
                                    <tr class="thead">
                                        <th>Nombre</th>
                                        <th>Aceptar / Rechazar</th>
                                    </tr>
                                    <tbody class="tbody">
                                        <tr class="thead trMenuLigas">
                                            <td class="tdEquipos">Nombre</td>
                                            <td class="tdEquipos">
                                                <a asp-controller="" asp-action="" asp-route-idequipo="" class="btn btn-success">Aceptar</a>
                                                <a asp-controller="" asp-action="" asp-route-idequipo="" class="btn btn-danger">Denegar</a>
                                            </td>
                                        </tr>     
                                    </tbody>
                                </table>
                            </div>
                            <div style="margin-top:10px; width:100%;">
                                <h5>Equipos aceptados</h5>
                                <table class="table tableAceptados">
                                    <tr class="thead">
                                        <th>Nombre Equipo</th>
                                        <th>Eliminar Equipo</th>
                                    </tr>
                                    <tbody class="tbody">
                                        <tr class="thead trMenuLigas">
                                           <td>yeye</td>
                                            <td><a asp-controller="" asp-action="" asp-route-idequipo="" class="btn btn-danger">Eliminar</a></td>
                                        </tr>     
                                    </tbody>
                                </table> 
                            </div>
                            <div>
                                
                                    <div>
                                        <label>Fecha I</label>
                                        <input type="datetime" />
                                    </div>
                                    <div>
                                        <label>Fecha F</label>
                                        <input type="datetime" />
                                    </div>
                                    <div>
                                        <label>Numero de equipos</label>
                                        <input type="number" />
                                    </div>
                                    
                                
                            </div>
                        </div>

                        <!-- Modal footer -->
                        <div class="modal-footer">
                            <button type="submit" class="btn btn-success" style="width:120px; height:40px; margin-top:20px">Crear</button>
                            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                            
                        </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div id="misligas">
            <div>
                <h2>Filtrar por opciones</h2>
            </div>
            <div class="divfiltros">
                <div class="losradios">
                    <span>Terminadas</span>
                    <input type="radio" name="filtros" class="radio"/>
                </div>
                <div class="losradios">
                    <span>Activas</span>
                    <input type="radio" name="filtros" class="radio"/>
                </div>
                <div class="losradios">
                    <span>Pendiente</span>
                    <input type="radio" name="filtros" class="radio"/>
                </div>
            </div>
            <button type="button" id="toggleEditor" class="btn btnReg btnLiga mx-1" style="width:120px">Filtrar</button>
            <div style="padding:20px ;background-color:#242424; display:none" id="crearLiga">

                <form method="post">
                    <label class="labelEquipo">Nombre de Liga</label>
                    <input type="hidden" name="accion" value="CrearLiga"/>
                    <input type="text" name="nombre" class="inputEquipo form-control" />
                    <button type="submit" class="btn btn-success" style="width:120px; height:40px; margin-top:20px">Crear Liga</button>
                </form>

            </div>
            <script>
                $(document).ready(function () {
                    $('#toggleEditor').click(function () {
                        $('#crearLiga').toggle('fast');
                    })
                })
            </script>
    </div>
</div>

