
<div class="wrapper" >
    <h1 class="tituloinicio">Inicio</h1>
    <div class="cols">
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bsComoFunciona.jpg)">
                    <div class="inner">
                        <p>Como funciona?</p>
                        <span>BS Tournament</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Juega torneos creando tu mismo la modalidad del torneo y tu equipo.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bsEquipos.png)">
                    <div class="inner">
                        <p>Equipos</p>
                        <span>BS Tournament</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/liga.jpg)">
                    <div class="inner">
                        <p>Torneos</p>
                        <span>BS Tournament</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="col" ontouchstart="this.classList.toggle('hover');">
            <div class="container">
                <div class="front" style="background-image: url(/images/bsCampeon.jpg)">
                    <div class="inner">
                        <p>Resultados</p>
                        <span>BS Tournament</span>
                    </div>
                </div>
                <div class="back">
                    <div class="inner">
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Alias cum repellat velit quae suscipit c.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
        