<h1>Crear Equipo</h1>

<form method="post">
    <label>Nombre del Equipo</label>
    <input type="text" name="nombre"/>

    <div class="input-group rounded">
      <input type="search" name="jugador2" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>

    <div class="input-group rounded">
      <input type="search" name="jugador3" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
      <span class="input-group-text border-0" id="search-addon">
        <i class="fas fa-search"></i>
      </span>
    </div>
</form>